* {
	color: white;
	font-family: "Josefin Sans", sans-serif;
}

body {
	background-color: #862e24;
}

.container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 200px;
	gap: 100px;
}

.info-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 40vw;
	padding: 30px;
}

#film-title {
	margin: 1px;
	padding: 20px;
	text-align: center;
	font-size: 50px;
	text-transform: uppercase;
	white-space: nowrap;
}

.info-parent {
	display: flex;
	flex-direction: column;
	text-align: center;
}

#cast {
	font-size: 15px;
	font-weight: 600;
	text-transform: uppercase;
}

#plot {
	top: auto;
	left: auto;
	display: block;
	width: 25vw;
	font-size: 25px;
	padding: 30px;
}

.runtime-year-rating {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	gap: 100px;
	font-size: 20px;
	font-weight: 600;
}

.info-row {
	display: flex;
	flex-direction: row;
}

.notbold {
	font-weight: normal;
	font-size: 20px;
}

.poster-slider {
	width: 730px;
	overflow: hidden;
}

.year-sort {
	height: 60px;
	width: 60px;
	background-image: url("ascending.svg");
	background-repeat: no-repeat;
	background-size: 60px 60px;
}

.year-sort[ascending] {
	background-image: url("descending.svg");
}

.cards {
	display: flex;
	width: 100%;
	gap: 100px;
	scrollbar-width: none;
	overflow-x: scroll;
	scroll-behavior: smooth;
}

.card img {
	height: 600px;
	width: 400px;
}

.buttons {
	display: flex;
	justify-content: space-between;
	padding-top: 30px;
	width: 410px;
}

.buttons img {
	cursor: pointer;
}

::-webkit-scrollbar {
	display: none;
}

.cards:last-child {
	padding-right: 501px;
}

/* .spacer {
	width: 700px;
} */
